html {
    font-family: 'Exo', sans-serif;
    
}
h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    margin-top: 38px;
    margin-bottom: 0px;
    font-size: 64px;
}
p {
    font-size: 24px;
}
.menu {
    font-size: 20px;
    padding: 5px 7px;
    margin-top: -10px;
}
.logo {
    font-family: 'Lobster', cursive; 
    font-size: 48px;
    margin-top: -22px;
}
.nav {
    display:flex;
    justify-content: space-between;
    padding:  0px;
    text-align: center;
    line-height: 20px; 
    margin: 0px;
    align-items: center;
    
}
li {
    list-style: none;
}
.contact {
    font-size: 20px;
    padding: 5px 7px;
    text-align: right;
    /*margin-top: 25px;*/
    padding-top: 35px;
    line-height: 38px;
    
}
nav {
    background-color: rgb(247, 247, 247);
    padding: 7px 45px 2px 40px;
    border: 1px solid rgb(219, 219, 219);
    
}
.hover {
    background-color: #d6a17b ;
}
.icon {
    padding-top: 2px;
    margin-bottom: -3px;
    width: 20px;
    height: auto;
}
/* -----------------------Banner----------------------- */

.banner {
    background-image: url('./img/tarimsal.png') ;
    background-position: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner h1 {
    text-align: left;
    font-size: 85px;
    padding:88px 40px 0px 50px;
    margin: 0%;
}
.banner p {
    text-align: left;
    font-size: 35px;
    padding: 20px 40px 100px 50px;
    font-family: 'Exo', sans-serif;
    margin: 0%;
}
/* ------------------------Body------------------------- */

body {
    max-width: 1000px;
    margin: auto;

}
.body {
    padding: 25px 40px 30px 45px ;
    border: 1px solid rgb(219, 219, 219);
    border-bottom: none;
  
}


.text {
    width: 100%;
  
}
.text p {
    margin: 0%;
    font-size: 24px ;
    font-style: italic;
}
img {
    padding-top: 10px;
    width: 82%;
    
}
.expert {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -20px;
}
.expert p {
    font-size: 20px ;
    font-style: italic;
    margin: 0%;
    text-align: center;
    padding-top: 15px;
}
/* ---------------------------------------------------------------------- */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-style: italic;
    font-size: 20px;
    margin: 0px 0px;
}
.cursive {
    font-style: italic;
    font-size: 22px;
    margin: 0px 0px;
    color: steelblue;
}
.text-container {
    width: 66%;
    margin: 2px 0% 0px 0px;
    font-size: 24px;
    /*margin-top: 2px;*/
}
.percent-cursive {
    font-size: 30px;
    font-style: italic;
    margin: -7px 0px 0px 0px;
}
.lower {
    width: 55%;
    margin-top: 20px;
}
.column {
    text-align: left;
    margin-top: -10px;
}

.percent {
    margin: -5px 12px 0px 0px;
    font-size: 96px;
    font-weight: 500;
    font-style: italic;
}
/* ------------------------------------------------------------------------ */

.main-text {
    font-size: 24px;
    margin-top: 9px;
    margin-bottom: 35px;
}
.feautres-container {
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feautres-container-column div {
    display: flex;
    width: 400px;
    height: 115px;
    align-items: center;
    justify-content: space-between;
}
.feautres-container-column div p {
   font-size: 24px;
   width: 300px;
}
.feature-icon {
    width: 15%;
    padding-top: 0%;
}

/* ---------------------------------------------------------- */

.process-block {
    display: flex;
    align-items: center;
    background-color: #d6a17b ;
    margin-top: 30px ;
}
.process-description {
    align-self: flex-start;
    color: white;
    margin: 0%;
    padding: 50px 15px 0px 50px;
    line-height: 35px;
}
.main-pic {
    width: 50%;
    padding-top: 0%;

}
.last-title {
    margin-top: 70px;
}
.third-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -10px;
  
}
.item-container {
    width: 290px;
    /* height: 35vmin; */
}
.item-name {
    font-size:  17px;
    margin-top: 0%;
    text-decoration: underline;
}
.item-img {
    padding-top: 0px;
    width: 97%;
}


.item-description {
    font-size: 20px; 
    width: 96%;
    margin-top: 10px;
} 
h2 {
    font-size: calc(12px + 1.3vmin);
    font-weight: 470;  
    margin-bottom: 0%;
}
/* ------------------------------------------------------------ */
footer {
    padding: 55px 10px 10px 47px;
    background-color: whitesmoke;
    border: 1px solid rgb(219, 219, 219);
    border-top: none;
}
.footer {
    display: flex;
    justify-content: space-between;
   

}
footer div p{
   font-size: 25.5px;

}
.footer-list {
    padding: 0%;
    width: 270px;
}
.footer-list li {
    font-size: 20px;
    line-height: 35px;
}
.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.footer-end h3 {
    font-family: 'Lobster', cursive; 
    font-size: 30px;
}
.footer-end p {
  
    font-size: 17px;
    padding: 0px 60px;

}